{% extends 'base.html.twig' %}

{% block links %}
    {{ encore_entry_link_tags('user_css') }}
{% endblock %}

{% block body %}
<section class="user">
    <div class="user__header d-flex py-2 px-3 border-bottom">
        <img src={{ "http://127.0.0.1:3000/images/user/" ~ user.photo|e }} class="rounded-circle" alt="">
        <div>
            <h1>{{ user.username }}</h1>
        </div>
    </div>
    <main class="d-grid">
        {% for post in user.post %}
            <a href="/post/{{post.id}}" class="m-1">
                <img class="w-100"  src={{ "http://127.0.0.1:3000/images/post/" ~ post.image|e }} alt="" >
            </a>
        {% endfor %}
    </main>
    <pre>
        {{ dump(user) }}
    </pre>
</section>
{% endblock %}