{% extends 'base.html.twig' %}

{% block links %}
    {{ encore_entry_script_tags('user') }}
{% endblock %}

{% block body %}
<section class="h-auto">
  <div class="px-3 py-2">
    <div class="d-flex justify-content-between">
      <h1>Information</h1>
      <a href="/user/{{user.id}}"><h3>Voir mes post</h3></a>
    </div>
    <form action={{ path('user_edit', {id: user.id}) }} enctype='multipart/form-data' method="post">
      <div class="mb-3">
        <label for="img" class="form-label">Image</label>
        <input name="img" class="form-control" type="file" id="img">
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Pseudo</label>
        <input name="username" type="text" class="form-control" id="username" aria-describedby="usernameHelp" value={{ user.username }}>
      </div>
      <div class="mb-3">
        <label for="new-password" class="form-label">Nouveau Mot de Passe</label>
        <input name="new-password" type="password" class="form-control" id="new-password">
      </div>
      <div class="mb-3">
        <label for="old-password" class="form-label">Ancien Mot de Passe *</label>
        <input name="old-password" type="password" class="form-control" id="old-password" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
{% if user.is_modo %}
<section class="px-3 py-2">
  <h1>Admin</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Modo</th>
        <th scope="col">Bannir</th>
      </tr>
    </thead>
    <tbody>
    {% for account in users %}
      {% if account.id != user.id %}
      <tr>
        <th scope="row">{{ account.id }}</th>
        <td>{{ account.username }}</td>
        <td>{{ account.is_modo|default(0) }}</td>
        <td>
          {% if account.is_banned %}
            <button class="btn btn-primary" id="btn-ban" data-value="false" data-id={{ account.id }}>Débannir</button>
          {% else %}
            <button class="btn btn-primary" id="btn-ban" data-value="true" data-id={{ account.id }}>Bannir</button>
          {% endif %}
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}

{% endblock %}